@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: #24272E;
    margin: 0;
}

header{
    background: black;
    padding: 20px;
}

header > h1{
    color: rgb(255, 153, 0);
    text-align: center;
    font-family: Acme, sans-serif;
    text-shadow: 5px 0 white;
    font-size: 50px;
}

.result{
    text-align: center;
    width: 500px;
    margin: 20px auto;
    background-color: blanchedalmond;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bolder;
    font-size: 20px;
    font-family: Asap, sans-serif;
    border: 2px solid black;

}

.container{
    margin: auto;
    text-align: center;
}

.dice{
    text-align: center;
    display: inline-block;
    padding: 0 10px;
}

.dice > img{
    border-radius: 50px;
}

p{
    font-size: 2rem;
    color: rgb(252, 25, 55);
    text-shadow: 1px 1px white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    padding: 5px 0;
}

button{
    padding: 10px 0;
    width: 20%;
    margin: 20px;
    background-color: #00b894;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

img{
    width: 80%;
    margin: 0 -20px;
}